.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 0 0 80px;
  border: 1px solid red;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
  }
}