@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);

.lead {
  max-width: 984px;
  margin: 0 auto 114px;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
    margin-bottom: 110px;
  }
}