.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
    margin-bottom: 18px;
  }
}