@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}