@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 168px;
    flex-direction: column;
    margin: 0 0 24px 16px;
  }
}